.banner {
  background-size: cover;
  background-position: 50% 50%;
}

.banner.container {
  padding: 200px 24px 200px 24px;
  display: flex;
  flex-direction: column;
}

.banner.container h1{
  color: white;
}

.banner.container p {
  color: darkgray;
  font-size: 20px;
  margin: 0px 0px 20px 0px;
}
